@inherits LayoutComponentBase
<ErrorBoundary>
    <ChildContent>
        <FluentLayout>
            <FluentStack Orientation="Orientation.Horizontal" Width="100%">
                <div>
                    <FluentNavMenu @bind-Expanded="@expanded" Width="150" Collapsible="true" Title="Collapsible demo">
                        <FluentNavLink Icon="@(new Icons.Regular.Size24.Home())">Item 1</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size24.Cloud())">Item 2</FluentNavLink>
                        <FluentNavGroup Title="Item 3" Icon="@(new Icons.Regular.Size24.EarthLeaf())">
                            <FluentNavLink Icon="@(new Icons.Regular.Size24.LeafOne())">Item 3.1</FluentNavLink>
                            <FluentNavLink Icon="@(new Icons.Regular.Size24.LeafTwo())">Item 3.2</FluentNavLink>
                        </FluentNavGroup>
                        <FluentNavLink Icon="@(new Icons.Regular.Size24.CalendarAgenda())" Disabled="true" Href="https://microsoft.com">Item 4</FluentNavLink>
                    </FluentNavMenu>
                </div>
                <div style="width: 100%;">

                  @Body

                </div>
            </FluentStack>
            <FluentFooter Style="@("height: 40px; color: white; text-align: center;")">
                Footer Text
            </FluentFooter>
        </FluentLayout>
    </ChildContent>
    <ErrorContent>
        <p class="errorUI">😈 A rotten gremlin got us. Sorry!</p>
    </ErrorContent>
</ErrorBoundary>

